body {
  background-color: #fff;
}

.timer {
  margin: 0px 403px;
  display: flex;
  width: 500px;
  flex-direction: row;
  padding: 30px;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
  color: #212121;
  border-radius: 2px;
}

.field {
  display: flex;
  flex-wrap: wrap;
  width: 100px;
  margin-left: 4px;
  margin-right: 4px;
  text-align: center;
  justify-content: center;

  text-transform: uppercase;
  border: 0;
  background-color: #071563;
  color: #ffffff;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 12px;
  border-radius: 2px;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.6);
}
.value {
  margin-bottom: 15px;
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 24px;
}
.label {
  margin-bottom: 25px;
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 24px;
}
